<mat-card>
  <p>Create order</p>
<form name = "login" (submit)="onAddOrder(postOrder)" #postOrder="ngForm">
  <mat-form-field >
    <input matInput type="text" ngModel name="inUsername" placeholder="Username">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="email" ngModel name="inEmail" placeholder="Email address">
  </mat-form-field>
  <br>
  <mat-form-field>
    <textarea matInput type="text" ngModel name = "inOrder" placeholder="Order description" rows="3" ></textarea>
  </mat-form-field>

  <button mat-raised-button type="submit" color="primary">Order Now!</button>
</form>
</mat-card>
