<mat-card>
<form name = "login">
  <mat-form-field >
    <input matInput type = "text" [(ngModel)]="inUsername" name="userName" placeholder="Username">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type = "email" [(ngModel)]="inEmail" name="inEmail" placeholder="Email address">
  </mat-form-field>
  <br>
  <mat-form-field>
    <textarea matInput type="text" [(ngModel)]="inOrder" name = "inOrder" placeholder="Order description" rows="3" ></textarea>
  </mat-form-field>
</form>
</mat-card>
  <br>
<button mat-raised-button (click)="onAddOrder()" color="primary">Order Now!</button>

<button mat-raised-button color="accent" style="margin-left: 10px;" (click)="clearText()" >Clear Msg!</button>

<h6><p>{{printMsg}}</p></h6>
