<mat-accordion *ngIf="orders.length > 0">
  <mat-expansion-panel *ngFor="let oneData of orders" >
    <mat-expansion-panel-header >
      {{oneData.username}}
    </mat-expansion-panel-header>
    {{oneData.orderDec}}
    <br/>
    <br/>
    <p>Contact: {{oneData.email}}</p>

    <mat-action-row>
      <button mat-button color="accent">Edit</button>
      <button mat-button color="warn">Delete</button>

    </mat-action-row>

  </mat-expansion-panel>



</mat-accordion>
<h2 *ngIf="orders.length <= 0 ">No orders created!</h2>
<br>
