<mat-accordion *ngIf="orders.length > 0">
  <mat-expansion-panel *ngFor="let oneData of orders" >
    <mat-expansion-panel-header >
      {{oneData.username}}
    </mat-expansion-panel-header>
    {{oneData.orderDec}}
    <br/>
    <br/>
    <p>Contact: {{oneData.email}}</p>

    <mat-action-row>
      <button mat-button color="accent" (click)="onEdit(oneData.id)" >Edit</button>
      <button mat-button color="warn" (click)="onDelete(oneData.id)">Delete</button>
    </mat-action-row>

  </mat-expansion-panel>



</mat-accordion>
<h2 *ngIf="orders.length <= 0 ">No posts, or you need to login!<p style="cursor: pointer; text-decoration: underline;" routerLink="/login" routerLinkActive="router-link-active">Login now!</p></h2>


<br>
