<mat-card>
  <h2>Create new account</h2>
  <p style="cursor: pointer; text-decoration: underline;" routerLink="/login" routerLinkActive="router-link-active">I have an account </p>
  <form class="login" name="login" #loginForm="ngForm">
    <mat-form-field>
      <input matInput type="text" ngModel name="enteredUsername" placeholder="Username" required minlength="8"
        pattern="^[a-zA-Z0-9\s_-]+$" #enteredUserName="ngModel" />
      <mat-error *ngIf="enteredUserName.invalid">{{enteredUserNameError}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" ngModel name="enteredEmail"
        placeholder="Email address" required #enteredEmail="ngModel" />
      <mat-error *ngIf="enteredEmail.invalid">{{enteredEmailError}}</mat-error>
    </mat-form-field>
    <br>

    <mat-form-field>
      <input matInput type="password" pattern="^([a-zA-Z0-9@*#]{8,15})$" ngModel name="enteredPassword"
        placeholder="Password" required #enteredPassword="ngModel" />
      <mat-error *ngIf="enteredPassword.invalid">{{enteredPasswordError}}</mat-error>
    </mat-form-field>
    <br>

    <mat-form-field>
      <input matInput type="password" pattern="^([a-zA-Z0-9@*#]{8,15})$" ngModel name="enteredPassword2"
        placeholder="Confirm password" required #enteredPassword2="ngModel" />
      <mat-error *ngIf="enteredPassword2.invalid">{{enteredPasswordError2}}</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button type="submit" style="width: 90%;" color="primary">Sign up</button>
  </form>
</mat-card>
