<h5>Create your order here please</h5>

<form name = "login">
  <input type = "text" [(ngModel)]="userName" name="userName" placeholder="userName">
  <br>
  <input type = "email" name="emailAddress" placeholder="emailAddress">
  <br>
  <textarea name = "6" name = "orderDetails" placeholder="orderDetails"></textarea>
</form>
<button (click)="onAddOrder()" >Order Now!</button>

<button style="margin-left: 20px;" (click)="clearText()" >Clear Msg!</button>
<h6><p>{{newOrder}}</p></h6>
<h6><p>{{printMsg}}</p></h6>
