<mat-card>
<form name = "login">
  <mat-form-field>
    <input matInput type = "text" [(ngModel)]="userName" name="userName" placeholder="Username">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type = "email" name="emailAddress" placeholder="Email address">
  </mat-form-field>
  <br>
  <mat-form-field>
    <textarea matInput name = "order" placeholder="Order" ></textarea>
  </mat-form-field>
</form>
</mat-card>
  <br>
<button mat-raised-button (click)="onAddOrder()" >Order Now!</button>


<button mat-raised-button style="margin-left: 20px;" (click)="clearText()" >Clear Msg!</button>

<h6><p>{{newOrder}}</p></h6>
<h6><p>{{printMsg}}</p></h6>
